# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.env/
.env*/
.venv/




# =========================
# Logs & Outputs
# =========================
logs/
*.log
output/
results/

# =========================
# Security / Secrets (IMPORTANT)
# =========================
*.pem
*.key
*.crt
*.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Git
# =========================
*.lock
